body {
  font-family: Montserrat, Arial;
  margin: 0;
  padding-bottom: 1000px;
  padding-left: 160px;
  padding-top: 100px;
  background-color: rgba(158, 158, 158, 0.3);
}

p {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 40px;
}

h3 {
  margin: 0;
}