.movie-container {
  vertical-align: top;
  align-content: center;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
}

.main-text {
width: 200px;
vertical-align: top;
display: inline-block;
text-align: center;
margin-right: 70px;
}

.main-text h3 {
margin-bottom: 10px;
}

.main-text-paragraph {
font-size: 17px;
line-height:25px;
}

.body-container img {
height: 400px;
box-sizing: border-box;
border-radius: 5px;
width: 300px;
cursor: pointer;
}


#casino {
box-shadow: 0px 0px 5px rgba(192, 19, 19, 1);
transition: box-shadow 0.15s;
}

#casino:hover {
box-shadow: 0px 0px 20px rgba(192, 19, 19, 1);
}

#quantum {
box-shadow: 0px 0px 5px rgba(239, 162, 8, 1);
transition: box-shadow 0.15s;
}

#quantum:hover {
box-shadow: 0px 0px 20px rgba(239, 162, 8 ,1);
}

#skyfall {
box-shadow: 0px 0px 5px rgba(7, 159, 7, 1);
transition: box-shadow 0.15s;
}

#skyfall:hover {
box-shadow: 0px 0px 20px rgba(7, 159, 7, 1);
}

#spectre {
box-shadow: 0px 0px 5px rgba(7, 12, 141, 1);
transition: box-shadow 0.15s;
}

#spectre:hover {
box-shadow: 0px 0px 20px rgba(7, 12, 141, 1);
}

#no-time {
box-shadow: 0px 0px 5px rgba(219, 182, 88, 1);
transition: box-shadow 0.15s;
}

#no-time:hover {
box-shadow: 0px 0px 20px rgba(219, 182, 88, 1);
}